---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "src/i18n/utils.ts";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="relative">
  <Image
    alt="jumbo"
    src="/images/home/jumbo.jpg"
    width={5974}
    height={3983}
    class="hidden md:block w-full aspect-[5/2] object-cover object-top"
  />
  <Image
    alt="jumbo"
    src="/images/home/jumbo_mobile.jpg"
    width={1934}
    height={1220}
    class="md:hidden w-full aspect-[3/2] sm:aspect-[2/1] object-cover object-top"
  />
  <div
    class="absolute text-center top-10 left-0 bottom-0 sm:left-6 md:bottom-full md:top-10 md:text-left text-white"
  >
    <h1
      class="font-bold md:max-w-[50%] text-3xl sm:text-6xl lg:text-7xl drop-shadow-[0_1.5px_1.5px_rgba(0,0,0,1)]"
    >
      {t("home.banner.lead")}
    </h1>
  </div>
</section>
