---
import { Image } from "astro:assets";
import {
  getLangFromUrl,
  staticPathsForMultilang,
  useTranslations,
} from "src/i18n/utils.ts";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="relative">
  <Image
    src="/images/home/jumbo.jpg"
    alt="Jumbotron Image"
    width={1934}
    height={1220}
    class="object-cover w-screen max-h-[34rem] min-h-[22rem] background"
  />
  <div
    class="absolute top-10 right-5 left-5 lg:left-16 lg:right-16 text-center md:text-left text-white box-content space-y-5 max-w-3xl"
  >
    <h1
      class="font-bold text-4xl sm:text-5xl lg:text-6xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]"
    >
      {t("home.banner.lead")}
    </h1>
    <p class="font-medium text-lg lg:text-2xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]">
      {t("home.banner.description")}
    </p>
  </div>
</section>
