---
import { languages } from "src/i18n/ui";
import { getLangFromUrl } from "src/i18n/utils";

const lang = getLangFromUrl(Astro.url);

const [, , ...clearPath] = Astro.url.pathname.split("/");
const nextLang = lang == "hu" ? "en" : "hu";
const langLabel = languages[nextLang];
const urlOnNextLang = `/${nextLang}/${clearPath.join("/")}`;
---

<a href={urlOnNextLang} data-astro-prefetch>{langLabel}</a>
