---
import { getLangFromUrl, useTranslations } from "src/i18n/utils";

import LangSwitch from "./lang-switch.astro";
import NavbarElement from "./navbar-element.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="sticky top-0 z-10 hidden lg:flex justify-between items-center px-10 bg-white/80 backdrop-blur shadow"
>
  <div class="flex gap-2 items-center">
    <img src="/images/logo.svg" class="aspect-square w-16" />
    <nav class="hidden lg:block space-x-4">
      <NavbarElement href="" name={t("nav.home")} />
      <NavbarElement href="camps" name={t("nav.camps")} />
      <NavbarElement href="tournaments" name={t("nav.tournaments")} />
      <NavbarElement href="abroad" name={t("nav.abroad")} />
      <NavbarElement href="products" name={t("nav.products")} />
      <NavbarElement href="about" name={t("nav.about")} />
      <NavbarElement href="contact" name={t("nav.contact")} />
    </nav>
  </div>
  <div class="flex gap-4 items-center">
    <LangSwitch />
    <a href={`/${lang}/contact`}>
      <button class="hidden xl:block border border-black px-4 py-2"
        >{t("nav.join-trainings")}
      </button>
    </a>
  </div>
</div>
