---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import DefaultLayout from "src/layouts/DefaultLayout.astro";

export const prerender = true;
export const getStaticPaths = (() => {
  return [{ params: { lang: "hu" } }];
}) satisfies GetStaticPaths;
---

<DefaultLayout title="Játékosok külföldre közvetítése">
  <meta
    slot="head"
    content="description"
    content="Tehetséges fiatal játékosokat közvetítünk ki külföldi egyetemi és profi ligákba."
  />
  <meta
    slot="head"
    content="og:description"
    content="Tehetséges fiatal játékosokat közvetítünk ki külföldi egyetemi és profi ligákba."
  />

  <section class="bg-neutral-100">
    <div class="px-5 sm:px-10 py-5">
      <h1 class="text-3xl lg:text-4xl font-bold">
        Játékosok külföldre közvetítése
      </h1>
      <p>
        Tehetséges fiatal játékosokat közvetítünk ki külföldi egyetemi és profi
        ligákba.
      </p>
    </div>
    <div class="grid lg:grid-cols-2 bg-white">
      <div class="space-y-5 px-5 sm:px-10 py-5">
        <p>
          Az érdeklődő játékosok középiskolai vagy egyetemi tanulmányi
          programban is részt tudnak venni, hogy egy teljes életpálya modellen
          keresztül biztosított legyen a sport karrieren kívül a diploma
          megszerzése is. A jelentkezők tehetségéhez mérten tudnak sport-és
          tanulmányi ösztöndíj támogatásra pályázni.
        </p>
        <p>
          U18-as korosztályú jelentkezők számára a AAA vagy AA csapatoknál
          középiskolai tanulmányi lehetőséggel együtt lehet pályázni. Az U21-es
          korosztály számára a középiskolai tanulmányok után amerikai junior
          jégkorong ligákba való kijutási lehetőséget biztosítunk. A legjobbak
          számára a sikeres junior ligában való szereplés eredményeképpen
          megnyílik a lehetőség az amerikai egyetemi jégkorong liga egyik
          csapatához csatlakozni.
        </p>
        <p class="font-medium">
          Közösen elkészítjük a játékos PPRP-jét. (Professional Performance
          Review Plan)
        </p>
        <div>
          <p class="font-medium">
            Fontosabb ligák, amelyekben a több száz csapat felé a játékosainkat
            közvetítjük:
          </p>
          <ul class="pl-5 list-disc">
            <li>USHL - United States Hockey League</li>
            <li>NAHL - North American Hockey League</li>
            <li>NCDC - National Collegiate Development Conference</li>
            <li>NA3HL - North American 3 Hockey League</li>
            <li>USPHL - United States Premier Hockey League</li>
          </ul>
        </div>
        <div>
          <p class="font-medium">
            Sport-és tanulmányi egyetemi teljes és rész ösztöndíj lehetőség az
            alábbi amerikai egyetemi ligákba:
          </p>
          <ul class="pl-5 list-disc">
            <li>NCAA Division I</li>
            <li>NCAA Division III</li>
          </ul>
        </div>
        <p>
          Az amerikai egyetemi liga (NCAA) érdeklődve várja a tehetséges női
          jégkorongozókat is és számukra is elérhető akár 100%-os sport-és
          tanulmányi ösztöndíj pályázati lehetőség.
        </p>
        <div>
          <p class="font-medium">
            Magyar jégkorongozók az Egyesült Államokban:
          </p>
          <ul class="pl-5 list-disc">
            <li>
              <a
                href="https://www.curryathletics.com/sports/mice/2020-21/bios/eross_zoltan_nn75?view=bio"
                >Erőss Zoltán <span class="italic text-neutral-600"
                  >(NCAA D3)</span
                ></a
              >
            </li>
            <li>
              <a
                href="https://womenshockeylife.com/from-budapest-to-north-dakota-dorottya-medgyes-journey-to-the-ncaa/"
                >Medgyes Dorottya <span class="italic text-neutral-600"
                  >(NCAA D1)</span
                ></a
              >
            </li>
            <li>
              <a
                href="https://womenshockeylife.com/from-budapest-to-north-dakota-dorottya-medgyes-journey-to-the-ncaa/"
                >Balint Mesterhazy <span class="italic text-neutral-600"
                  >(NCAA D3)</span
                ></a
              >
            </li>
            <li>
              <a
                href="https://www.eliteprospects.com/team/5718/hampton-roads-whalers/2022-2023?tab=stats"
                >Barna David <span class="italic text-neutral-600">(USPHL)</span
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
      <Image
        src="/images/management/main.jpg"
        alt="Játékosközvetítés"
        width="4032"
        height="3024"
        class="object-cover h-full"
      />
    </div>
    <!--         <div>
            TODO ide kell majd a tovabbiak resz, emailben leirva
            <h1>Ezekben segíthetünk még:</h1>
        </div>
-->
  </section>
</DefaultLayout>
