---
import {
  getLangFromUrl,
  staticPathsForMultilang,
  useTranslations,
} from "src/i18n/utils";
import { products } from "src/config/products";

import DefaultLayout from "src/layouts/DefaultLayout.astro";

export const prerender = true;
export const getStaticPaths = staticPathsForMultilang();

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<DefaultLayout title={t("nav.products")}>
  <section class="bg-neutral-100">
    <div class="px-5 lg:px-10 py-5 bg-neutral-200">
      <h1 class="text-4xl font-bold">{t("nav.products")}</h1>
    </div>
    <div class="px-5 lg:px-10 py-5 grid md:grid-cols-2 lg:grid-cols-3 gap-2">
      {
        products.map((product) => (
          <div class="flex flex-col bg-white border border-black divide-y divide-black">
            <img
              src={product.img}
              alt={product.name[lang]}
              class="max-w-md w-full flex-grow"
            />
            <p class="p-4 text-xl font-medium">{product.name[lang]}</p>
          </div>
        ))
      }
    </div>
  </section>
</DefaultLayout>
