---
import Link from "@components/link.astro";
import { Image } from "astro:assets";
import { camps } from "src/config/camps";
import {
  getLangFromUrl,
  staticPathsForMultilang,
  useTranslations,
} from "src/i18n/utils";
import Layout from "src/layouts/DefaultLayout.astro";

export const prerender = true;
export const getStaticPaths = staticPathsForMultilang();

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t("nav.tournaments")}>
  <section>
    <div class="px-5 lg:px-10 py-5 bg-neutral-100">
      <h1 class="text-4xl font-bold">{t("nav.tournaments")}</h1>
      <p>{t("tournaments.description")}</p>
    </div>
    <div class="bg-white">
      <div class="grid lg:grid-cols-2">
        <div class="px-5 lg:px-10 py-5 space-y-5">
          <Fragment set:html={t("tournaments.content")} />
          <div class="mt-5 space-y-3">
            <p>tournaments@icehockeypro57.com<br />+36 (70) 615 - 7577</p>
            <Link href="/contact">
              <button
                class="flex gap-5 w-full lg:w-auto justify-between border border-black px-4 py-2"
              >
                <span>{t("tournaments.participate")}</span>
                <img src="/icons/arrow-right.svg" class="h-6 w-6" />
              </button>
            </Link>
          </div>
        </div>
        <Image
          alt="img"
          src="/images/etc/tournaments.jpg"
          width={4215}
          height={2636}
          class="object-cover aspect-[4/3]"
        />
      </div>
    </div>
  </section>
</Layout>
